/* Vector */

position: absolute;
left: -47.58%;
right: 34.86%;
top: -2.23%;
bottom: 45.19%;

background: #DCC8AB;


/* Blob/3 */

position: absolute;
left: 17.56%;
right: -35.11%;
top: 58.22%;
bottom: -23.94%;

